body{background-color:#E5E9F0}nav a{color:#FFF;text-decoration:none;margin:0 10px;padding:2px}h1{font-family:'Roboto Slab',serif}head{font-family:'Roboto Slab',serif;font-family:'Sedgwick Ave Display',cursive}

